<div class="container">
    <h1>Atividades finalizadas</h1>
    <div class="badge">
      <button (click)="voltar()" mat-raised-button color="primary" 
        matBadgePosition="before"
        matBadgeColor="accent"
      >
       Voltar
      </button>
    </div>
    
    <div class="content" *ngFor="let item of listFinished">
      <mat-card class="mat-elevation-z8">
        <p>Data para finalizar: {{ item.dateForFinish }}</p>
        <mat-card-header>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
        </mat-card-header>
        
      </mat-card>
    </div>
  </div>
  